# fly.toml app configuration file generated for spice-tracker-bot on 2025-08-29T13:17:20-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

# Do not set this. Pass it as FLY_APP
#app = ''
primary_region = 'iad'

[build]

[env]
  PORT = '8080'

[processes]
  app = 'python bot.py'

[deploy]
  strategy = 'immediate'
  max_parallel = 1

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'
    tls_skip_verify = false

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
